
head
  title Video Maps
  
  //- link(type="text/css",rel="stylesheet",href="http://mediaelementjs.com/js/mejs-2.15.1/mediaelementplayer.min.css")
  //- script(src="http://mediaelementjs.com/js/mejs-2.15.1/mediaelement-and-player.min.js")
  

  link(type="text/css",rel="stylesheet",href="https://vjs.zencdn.net/4.5.1/video-js.css")  
  script(src="https://vjs.zencdn.net/4.5.1/video.js")
  script(src="http://guaries.opennote.info/wp-content/uploads/2014/09/youtube.js")

