
template(name="layout")
  +navBar
  +yield

template(name="navBar")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="/") VideoMaps
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav.navbar-nav
            a(href="#") Communities

          li.nav.navbar-nav
            a(href="/videoSearch") Search
          li.nav.navbar-nav
            a(href="#") Tags
          li.nav.navbar-nav
            a(href="#") Maps

        ul.nav.navbar-nav.navbar-right
          li.nav.navbar-nav
            img(src="{{user.profile.photo.thumb_link}}")
          li
            +loginButtons

          

template(name="videoSearch")          
  .container
    
    .text-center
      h1 Search the Video You Want ... 

      p MLDM Monday, Taiwan useR Group, COSCUP, ... and other open source communities ...
    
      +search
      
    br 
    //- +videoList
    +videoPages

    //- .row.clearfix
    //-   .col-md-12.column
    //-     .row
    //-       .col-md-4
    //-         .thumbnail
    //-           video.video-js.vjs-default-skin(src="",controls,preload="auto",width="350",height="225",data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/embed/OCQU6M4pPiw" }')
    //-           //- iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/OCQU6M4pPiw",frameborder="0",allowfullscreen, style="margin-bottom: -4px")
          
    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/xt1_oXJtB3M",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/hIdvjh-O69w",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/vteHJEJuNcQ",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/CLq8MlK3oo0",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/A1IIcZW5UrI",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/9K3B3OYMtjY",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

    //-       .col-md-4
    //-         .thumbnail
    //-           iframe#ytplayer(type="text/html",width="350",height="225",src="http://www.youtube.com/embed/escsixrqG6M",frameborder="0",allowfullscreen, style="margin-bottom: -4px")


template(name="videoPages")
  +pagesNav
  +pages
  



template(name="search")
  .input-group
    span.input-group-addon Search
    input#searchWords.form-control(type="text")
    span.input-group-addon X


template(name="videoList")
  //- h1 {{helloObject.name}}
  //- br
  //- each helloObject.data
  //-   hr
  //-   h2 {{text}}
  //-   hr
  .row.clearfix
    .col-md-12.column
      .row
        each videoList
          +video
        
            
  
template(name="video")
  .col-md-3
    p {{title}}
    //- .thumbnail
      //- div.video(id="{{_id}}")
    video.video-js.vjs-default-skin(id="{{_id}}",src="",controls,width="100%",data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com//watch?v={{_id}}" }')











